Labo6_server2/threadpool/threadpool.pro.user
Labo6_server2/threadpool/threadpool.pro.user.34f97e0
Labo6_server2/build-threadpool-Desktop
Labo6_server2/build-threadpool-Desktop_Qt_5_10_1_MinGW_32bit-Debug/